//一覧画面のサイズ
.screen-size-fixed {
    min-height: calc(100vh - 8rem)
}






/*
 *　会計帳簿　230行目まで
*/
.mask_field {
    color: #404040;
    padding: 0px 0;
    position: relative;
}

.mask_field:hover {
    padding: 0px 0;
    /* background-color: #6499f5; */
    background: rgba(100, 153, 245, 0.5);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.mask_field:hover input.form-control:disabled {
    /* display: none; */
    visibility: hidden;
}

.mask_field:hover .mask {
    opacity: 1;
    cursor: pointer;
    color: #fafafa;
    font-weight: bold;
}

.mask {
    position: absolute;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    z-index: 100;
    display: block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #bfc8e2;
    text-align: left;
    caption-side: bottom;
}

// input[number]のスピンボタを非表示にする
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}
